@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
/* Common Styles */
::-moz-selection {
  /* Code for Firefox */
  color: red;
  background: yellow;
}

::selection {
  color: red;
  background: yellow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

img {
  width: 100%;
}

html {
  font-size: 62.5%;
}

.section-heading {
  font-size: 12rem;
  font-weight: 900;
  color: white;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0.3rem #000;
}

.navbar {
  width: 100%;
  background-color: #000;
  height: 14rem;
  position: fixed;
  top: -14rem;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.2rem 0.2rem 0.2rem black;
  transition: top 0.3s;
}
.navbar-link {
  color: #aaa;
  margin: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.navbar-link i {
  font-size: 7rem;
}
.navbar-link span {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  margin-top: 0.5rem;
}
.navbar-link:hover {
  color: white;
}
.navbar.change {
  top: 0;
  transition: top 0.3s 0.2s;
}
.navbar.change .navbar-link {
  opacity: 1;
}
.navbar.change .navbar-link:nth-child(1) {
  transition: opacity 0.4s 0.5s, color 0.3s;
}
.navbar.change .navbar-link:nth-child(2) {
  transition: opacity 0.4s 0.6s, color 0.3s;
}
.navbar.change .navbar-link:nth-child(3) {
  transition: opacity 0.4s 0.7s, color 0.3s;
}
.navbar.change .navbar-link:nth-child(4) {
  transition: opacity 0.4s 0.8s, color 0.3s;
}
.navbar.change .navbar-link:nth-child(5) {
  transition: opacity 0.4s 0.9s, color 0.3s;
}

.menu {
  width: 4rem;
  height: 6rem;
  background: #000;
  position: fixed;
  top: 3rem;
  left: 5rem;
  border-radius: 30rem 30rem 15rem 15rem;
  box-shadow: 0.1rem 0.1rem 0.1rem black, -0.1rem -0.1rem 0.1rem black;
  cursor: pointer;
  transition: top 0.3s 0.2s;
  z-index: 1555555;
  user-select: none;
}
.menu::before {
  content: "";
  width: 0.3rem;
  height: 15rem;
  background-color: #000;
  position: absolute;
  top: -15rem;
  left: calc(50% - 0.15rem);
}
.menu.change {
  top: 15rem;
  transition: top 0.3s;
}

/* Section 1 */
.section-1 {
  width: 100%;
  height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.section-1 i {
  font-size: 25rem;
  color: #a79a2d;
  position: absolute;
  transform: translate(-50%) scale(0);
  -webkit-transform: translate(-50%) scale(0);
  -moz-transform: translate(-50%) scale(0);
  -ms-transform: translate(-50%) scale(0);
  -o-transform: translate(-50%) scale(0);
  text-shadow: 0.2rem 0.2rem 0.2rem #000;
  transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
}
.section-1 i.change {
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s 0.3s;
}

.section-2 {
  width: 100%;
  height: 100vh;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10em 0;
}
.section-2 .cards-container {
  display: flex;
  justify-content: space-evenly;
}
.section-2 .cards-container .card {
  width: 30rem;
  background-color: #a79a2d;
  padding: 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1rem 1rem 1rem black;
  position: relative;
  transform: rotateY(20deg) skewX(-2deg);
  transition: transform 0.5s, box-shadow 0.5s;
}
.section-2 .cards-container .card:hover {
  transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
  box-shadow: 2rem 2rem 2rem #000;
}
.section-2 .cards-container .card::before {
  content: "";
  height: 100%;
  width: 1rem;
  background-color: #817824;
  position: absolute;
  top: 0;
  left: -1rem;
  transform: skewY(45deg);
  transform-origin: right;
  box-shadow: -0.1rem -0.1rem -0.1rem #000;
}
.section-2 .cards-container .card::after {
  content: "";
  height: 1rem;
  width: 100%;
  background-color: #858317;
  position: absolute;
  top: -1rem;
  left: 0;
  transform: skewX(45deg);
  transform-origin: bottom;
  box-shadow: -0.1rem -0.1rem -0.1rem #000;
}
.section-2 .cards-container .card-img {
  width: 100%;
}
.section-2 .cards-container .card-name {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: #111;
  margin: 2em 0;
  text-shadow: 0.15rem 0.15rem 0.15rem black;
}
.section-2 .cards-container .card-btn {
  width: 80%;
  background-color: #111;
  color: #888;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  border: none;
  padding: 0.5em 0;
  cursor: pointer;
  box-shadow: -0.2rem -0.2rem -0.2rem #000;
}

.section-3 {
  background-color: #333;
  padding: 5em 0;
}
.section-3 .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  margin-top: 10em;
  grid-row-gap: 10rem;
}
.section-3 .gallery-link {
  position: relative;
}
.section-3 .gallery-link::before {
  content: "";
  position: absolute;
  top: 1.5vw;
  left: 78%;
  width: 0.2rem;
  height: 0;
  background-color: #fff;
  transition: all 0.5s;
  z-index: 3;
}
.section-3 .gallery-link:hover::before {
  height: 78%;
}
.section-3 .gallery-link::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 2rem;
  width: 0;
  height: 0.2rem;
  background-color: #fff;
  transition: all 0.5s;
}
.section-3 .gallery-link:hover::after {
  width: 80%;
}
.section-3 .gallery-link .food-name {
  position: absolute;
  top: 3rem;
  left: 3rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  width: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.section-3 .gallery-link:hover .food-name {
  width: 80%;
  transition: all 1.5s 0.5s ease-out;
}
.section-3 .gallery-link .food-description {
  position: absolute;
  bottom: 3vw;
  left: 2rem;
  width: 70%;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}
.section-3 .gallery-link:hover .food-description {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s 1s;
}
.section-3 .gallery-link:hover .food-image {
  box-shadow: 1rem 1rem 0.1rem #e92929, 2rem 2rem 0.1rem #a2e946, 3rem 3rem 0.1rem #297ce9, 4rem 4rem 0.1rem #e92999;
  filter: blur(0.5rem);
  opacity: 0.6;
  transform: scale3d(1.1);
}
.section-3 img {
  width: 21vw;
  height: 21vh;
  object-fit: cover;
  box-shadow: 0.3rem 0.3rem 0.1rem #e92929, 0.5rem 0.5rem 0.1rem #a2e946, 0.7rem 0.7rem 0.1rem #297ce9, 0.9rem 0.9rem 0.1rem #e92999;
  transition: all 0.5s;
}

.section-4 {
  width: 100%;
  height: 33vh;
  background-color: #222;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 3em 0;
  position: relative;
}
.section-4 .copyright {
  position: absolute;
  bottom: 4rem;
  font-size: 1.7rem;
  font-weight: 200;
  color: #eee;
  letter-spacing: 0.1rem;
  border-top: 0.1rem solid #888;
  padding-top: 6rem;
  width: 80%;
  text-align: center;
}
.section-4-text {
  text-transform: uppercase;
}
.section-4-heading {
  font-size: 4rem;
  font-weight: 900;
  color: #a79a2d;
}
.section-4-paragraph {
  font-size: 1.5rem;
  color: #888888;
}
.section-4 .signup-form {
  display: flex;
  align-items: center;
}
.section-4 .signup-form-input {
  width: 35rem;
  height: 5rem;
  padding: 1em;
  border: 0.3rem solid #a79a2d;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #a79a2d;
  outline: none;
}
.section-4 .signup-form-input::placeholder {
  color: #a79a2d;
}
.section-4 .signup-form-btn {
  position: relative;
  left: -4.5rem;
  width: 4rem;
  height: 4rem;
  background-color: #333;
  color: #a79a2d;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
}

@media (max-width: 1400px) {
  html {
    font-size: 50%;
  }

  .section-2 {
    height: auto;
    padding: 10rem 0 12rem 0;
  }

  .cards-container {
    margin-top: 10rem;
  }

  .gallery-link {
    width: 40em;
    height: 25rem;
    margin: 5rem;
    row-gap: 8rem;
  }
  .gallery-link .food-img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1000px) {
  .section-heading {
    font-size: 9rem;
    margin: 0;
  }

  .section-1-icons {
    font-size: 23rem;
  }

  .cards-container {
    flex-wrap: wrap;
  }
  .cards-container .card {
    margin: 5rem;
  }

  .section-3 img {
    width: 100%;
  }
  .section-3 .gallery {
    grid-template-columns: 1fr 1fr;
    row-gap: 5rem;
    justify-content: center;
    align-items: center;
    place-items: center;
  }

  .section-4 {
    height: 30rem;
  }
}
@media (max-width: 800px) {
  .navbar-link {
    margin: 2rem;
  }
  .navbar-link i {
    font-size: 4rem;
  }
  .navbar-link span {
    font-size: 2rem;
  }
}
@media (max-width: 650px) {
  .section-heading {
    font-size: 7rem;
    margin: 0 10rem;
  }
  .section-heading .menu {
    left: 2rem;
  }

  .navbar {
    height: 10rem;
  }

  .navbar-link {
    margin: 2rem;
  }
  .navbar-link i {
    font-size: 2rem;
  }
  .navbar-link span {
    font-size: 1rem;
  }

  .section-1-icons {
    font-size: 10rem;
  }

  .section-3 img {
    width: 100%;
  }
  .section-3 .gallery {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    justify-content: center;
    align-items: center;
    place-items: center;
  }

  .section-4 {
    height: 40rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .section-4-text {
    margin-bottom: 8rem;
  }
}

/*# sourceMappingURL=style.css.map */
